.activity {
  &_block {
    width: calc((100% - 10px * 5) / 4);
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
  }
  &_detail {
    width: calc(100% - 10px * 2);
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    float: left;
    &_line {
      width: calc(100% - 10px * 2);
      height: 50px;
      margin-left: 10px;
      margin-top: 10px;
      overflow: hidden;
      &_label{
        width: 100px;
        height: 50px;
        float: left;
      }
      &_input{
        width: calc(100% - 100px - 10px);
        height: 50px;
        margin-left: 10px;
        float: left;
        font-size: 20px;
      }
      &_img_block{
        width: calc(100% - 100px - 10px);
        float: left;
        overflow: hidden;
      }
      &_img{
        width: 280px;
        height: 210px;
        float: left;
        margin-left: 10px;
      }
      &_img_block_button{
        width: 280px;
        height: 240px;
        float: left;
        margin-left: 10px;
        &_img{
          width: 280px;
          height: 210px;
          background: #F00;
        }
      }
      &:nth-of-type(7){
        height: auto;
      }
      &:nth-of-type(8){
        height: auto;
      }
    }
  }
}
